div {
	background-color: #56494e;
	border: 1px #a29c9b solid;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 15px;
	color: #a29c9b;
	height: 55px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 55px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div:hover {
	position: relative;
	box-shadow: 0 2px 7px rgba(0,0,0,0.18), 0 2px 6px rgba(0,0,0,0.30);
}

i {
	font-size: 24px;
	line-height: 55px;
}