div {
  display: block;
  background-color: #a29c9b;
  border-radius: 8px;
  color: #56494e;
}

span {
	margin-left: 1em;
}

ul {
	display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

tray-item {
  pointer-events: none;
}