div {
  display: block;
  background-color: #a29c9b;
  border-radius: 8px;
  color: #56494e;
}

span {
	margin-left: 1em;
}

ul {
	display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #56494e;
  border-radius: 15px;
  color: #a29c9b;
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 55px;
}

li {
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

li:hover {
  position: relative;
  box-shadow: 0 2px 7px rgba(0,0,0,0.18), 0 2px 6px rgba(0,0,0,0.30);
}

li i {
  font-size: 24px;
  line-height: 55px;
}