html,body {
    background: #56494e;
    /*color: #a29c9b;*/
    margin: 0;
    padding: 0;
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Roboto';
    overflow-y: hidden;
    user-select: none !important;
    transition: all 0.1s ease-in-out;
    
}

::-webkit-scrollbar { 
    display: none; 
}

/*
UI
#FFC857

Back
#56494e

Text
#a29c9b
*/

div {
    user-select: none !important;
}