html,body {
    background: #56494e;
    color: #a29c9b;
    margin: 0;
    padding: 0;
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'system-ui';
    overflow-y: hidden;
}

input {
    /*font-family: monospace;*/
}

input[type=text] {
	border: none;
	border-bottom: 3px solid #a29c9b;
    background: rgba(1,1,1,0);
    padding: 0;
    padding-bottom: 5px;
    outline: none;
    color: #a29c9b;
    font-size: 24px;
}

/*
UI
#FFC857

Back
#56494e

Text
#a29c9b
*/