<!-- <div *ngIf="shouldDisplay"> -->
<div>
	<ul>
		<li class="tile" *ngFor="let item of items; let i = index"
			[attr.data-index]="i"
			[style.width.px]="item.relativeExtent.x*(this.gridService.cellWidth+2*this.gridService.cellPadding)-2*this.gridService.cellPadding"
			[style.height.px]="item.relativeExtent.y*(this.gridService.cellHeight+2*this.gridService.cellPadding)-2*this.gridService.cellPadding"
			[style.left.px]="this.gridService.cellPadding-this.gridService.cellBorderWidth+item.origin.x*(this.gridService.cellWidth+2*this.gridService.cellPadding)"
			[style.top.px]="this.gridService.cellPadding-this.gridService.cellBorderWidth+item.origin.y*(this.gridService.cellHeight+2*this.gridService.cellPadding)"
			[style.border-width.px]="this.gridService.cellBorderWidth">
			<tile [model]="item"
				[style.width.px]="item.relativeExtent.x*(this.gridService.cellWidth+2*this.gridService.cellPadding)-2*this.gridService.cellPadding"
				[style.height.px]="item.relativeExtent.y*(this.gridService.cellHeight+2*this.gridService.cellPadding)-2*this.gridService.cellPadding">
			</tile>
			<span>
				<i class="fa fa-times" aria-hidden="true" [attr.data-index]="i"></i>
				<i class="fa fa-arrows" aria-hidden="true" [attr.data-index]="i" (mousedown)="onMouseDown($event,'move')"></i>
				<i class="fa fa-expand" aria-hidden="true" [attr.data-index]="i"></i>
			</span>
		</li>
	</ul>
</div>