<!-- <div *ngIf="shouldDisplay"> -->
<div>
	<ul>
		<li class="tile" *ngFor="let item of items; let i = index"
			[attr.data-index]="i"
			[style.width.px]="item.relativeExtent.x*(this.cellSize.x+2*this.CELL_PADDING)-2*this.CELL_PADDING"
			[style.height.px]="item.relativeExtent.y*(this.cellSize.y+2*this.CELL_PADDING)-2*this.CELL_PADDING"
			[style.left.px]="item.origin.x*(this.cellSize.x+2*this.CELL_PADDING)"
			[style.top.px]="item.origin.y*(this.cellSize.y+2*this.CELL_PADDING)">
		</li>
	</ul>
</div>