ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
}

li {
	background-color: #56494e;
	float: left;
	margin: 15px;
	border-radius: 35px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

li.tile {
	position: fixed;
	background-color: rgba(255,255,255,0.5);
}