ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
}

li {
	background-color: #a29c9b;
	float: left;
	margin: 15px;
	border-radius: 35px;
	transition: all 0.1s ease-in-out;
	border: 3px #56494e solid;
}

li.tile {
	position: fixed;
	/*background-color: rgba(255,255,255,0.5);*/
}

li .fa {
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 50px;
	transition: all 0.1s ease-in-out;
}