{{ draggedItems }}
<main>
	<div class="row">
		<div class="col-md-12">
			<grid
				[clickStream]="gridClickStream"
				[items]="gridTiles"
				[cellSize]="gridSize"
				[shouldDisplay]="draggingFromTray">
			</grid>
			<surface
				[clickStream]="tilesClickStream"
				[items]="surfaceTiles"
				[cellSize]="gridSize"
				[shouldReportMouseUps]="resizing">
			</surface>
			<!-- <search [valueStream]="searchStream"></search>
			<results-list [loading]="loading" [results]="searchResults"></results-list> -->
		</div>
 	</div>
 	<tray [items]="trayItems" [clickStream]="trayClickStream"></tray>
	<drag-indicator *ngIf="draggedItemCount > 0"
		[itemCount]="draggedItemCount"
		[style.left.px]="mouseLocation.x-30"	
		[style.top.px]="mouseLocation.y-30">
	</drag-indicator>
</main>
