main {
  display: block;
}

span {
  font-size: 24px;
}

tray {
	position: fixed;
	bottom: 10px;
	width: 90%;
    line-height: 75px;
    left: 5%;
}

tray-item {
	position: fixed;
	top: 0px;
	right: 0px;
}

grid {
	position: fixed;
	top: 0px;
    left: 0px;
}

surface {
	position: fixed;
	top: 0px;
    left: 0px;
}