main {
  display: block;
}

span {
  font-size: 24px;
}

tray {
	position: fixed;
	bottom: 10px;
	width: 90%;
    line-height: 75px;
    left: 5%;
}

drag-indicator {
	position: fixed;
	top: 0px;
	right: 0px;
	pointer-events: none;

	background-color: rgb(162, 156, 155);
    color: rgb(86, 73, 78);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

grid {
	position: fixed;
	top: 0px;
    left: 0px;
}

surface {
	position: fixed;
	top: 0px;
    left: 0px;
}