ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
}

li {
	background-color: #56494e;
	float: left;
	border-radius: 15px;
	transition: all 0.1s ease-in-out;
	border: 3px #56494e solid;
}