ul {
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	user-select: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

li {
	margin-top: 4px;
    cursor: pointer;
    white-space: nowrap;
    color: #56494e;
}
li:hover {
	background-color: #56494e;
	color: #a29c9b;
}
.selected {
	background-color: #56494e;
	color: #a29c9b;
}