ul {
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	user-select: none;
}

li {
	margin-top: 4px;
    cursor: pointer;
    min-height: 30px;
}
li:hover {
	/*background-color: #a29c9b;*/
	/*color: #56494e;*/
}
.selected {
	background-color: #a29c9b;
	color: #56494e;
}